{% extends "layout.html" %}

{% block title %}
    Sell stocks which you own
{% endblock %}

{% block main %}
<form action="/sell" method="POST">
    <div class="mb-3">
    <select name="symbol" id="sell-stock" class="form-select mx-auto w-auto" aria-label="Sell stocks">
            <option disabled selected value="">Stock</option>
        {% for row in stocks %}
            <option value="{{ row["symbol"] }}">{{ row["symbol"] }}</option>
        {% endfor %}
    </select>
    </div>

    <div class="mb-3">
    <input class="form-control mx-auto w-auto" type="number" name="shares" id="quantity" placeholder="Shares" min="1">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>

{% endblock %}